
body {
  height: 100%;
  width: 100;
  font-family: Roboto, Arial, sans-serif;
  font-size: 2em;
}

#root {
  background-color: black;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 1em;
  animation: rotation 10s infinite linear;
  flex: 4;
  fill: #61dafb;
}

.text {
  color: white;
  display: flex;
  align-items: center;
  margin-top: 1em;
  flex: 2;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
