
.logo {
  margin-top: 0.5em;
  animation: rotation 10s infinite cubic-bezier(0.5, 0, 0.5, 1);
  fill: #61dafb;
}

.text {
  color: white;
  align-items: center;
  margin: 0.5em 0;
}

@keyframes rotation {
  0%   {transform: rotate(-360deg);}
  50%  {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}
